.icon {
  /* transition: all 2s ease-in-out; */
}

.animatedIcon {
  animation-duration: 3s;
  animation-name: animate-bitcoin;
  animation-iteration-count: infinite;
}

.ethereum {
  animation-duration: 3s;
  animation-name: animate-ethereum;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}

@keyframes animate-bitcoin {
  from {
    transform: translate(-200px, 90px);
    opacity: 1;
  }

  to {
    transform: translate(0px, -300px);
    opacity: 0;
  }
}

@keyframes animate-ethereum {
  from {
    transform: translate(-100px, 90px);
    opacity: 1;
  }

  to {
    transform: translate(0px, -300px);
    opacity: 0;
  }
}
